@media (max-width: 991px) {
    header {
        display: none;
    }

    .intro .desc h1 {
        font-size: 1.7vh;
    }

    .intro .desc h2 {
        font-size: 30px;
    }


    .first-section video{
        transform: translate(-50%, 0);
        width: 200%;
        
    }

    .intro .desc {
        margin-left: -20%;
        margin-top: -40%;
    }

    .intro .media a {
        padding: 5px;
        margin-right: 10px;
        
    }

    .intro .media {
        margin-left: -20%;
        font-size: 15px;
    }

    .intro .desc img:last-child{
        margin-left: 30%;
        margin-top: -40%;
        width: 70%;
        z-index: -5;
    }

    .second-section {
        margin-top: 110%;
        margin-left: 22%;
    }

    .second-section .desc h1{
        font-size: 4vh;
    }

    .second-section .desc h2{
        font-size: 2vh;
    }

    .second-section .desc p{
        font-size: 1.5vh;
        width: 350px;
    }

    .second-section .overview .cards .card{
        padding: 0 6%;
        height: 300px;
        width: 6rem;
        margin-right: 5%;
    }

    .second-section .overview .cards .card img {
        width: 64px;
        margin-left: 0.7rem;
    }

    .second-section .overview .cards .card .titles{
        font-size: 20px;
        margin-top: 5rem;
        margin-left: -0.5rem;
    }

    .second-section .desc2 {
        margin-left: -25%;
    }
    
    .second-section .desc2 h2 {
        font-size: 15px;
    }
    
    .second-section  .desc2 h1 {
        font-size: 50px;
    }

    .second-section .swiper {
        width: 300px;
        margin-left: 5%;
    }

    .second-section .swiperbg {
        display: none;

    }

    .second-section .overview  .pcard img {
        width: 500px;
    }

    .arrow, .arrow2 {
        display: none;
    }

    .second-section .knowledge .programming {
        width: 400px;
    }
    
    
    .second-section .knowledge .programming img{
        width: 34px;
    }
    
    .second-section .knowledge .programming img:first-child {
        width: 47px;
    }
    
    .second-section .knowledge {
        margin-bottom: 70%;
        margin-left: -15%;
    }

    .second-section .knowledge .desc h1 {
        font-size: 4vh;
    }

    .second-section .knowledge .desc h2 {
        font-size: 2vh;
    }

    .upBtn {
        display: none;
    }

    .swipe {
        display: none;
    }

    footer {
        margin-left: -25%;
    }
    

}